apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: hcloud-exporter

helmCharts:
  - name: hcloud-exporter
    repo: https://promhippie.github.io/charts
    version: 4.2.14
    releaseName: hcloud-exporter
    namespace: hcloud-exporter
    valuesFile: helm-values.yaml
