apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability

helmCharts:
  - name: mimir-distributed
    repo: https://grafana.github.io/helm-charts
    version: 6.0.5
    releaseName: mimir
    namespace: observability
    valuesFile: helm-values.yaml

resources:
  - otel-collector.yaml
